* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  max-width: 1280px;
  max-height: 1390px;
  padding: 40px;
  margin: 0px auto;
  background-color: #f5f7fa;
}
.about {
  max-width: 1200px;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  display: flex;
  flex: auto;
  margin: 0px auto;
}


.about-header {
  max-width: 370px;
  min-height: 1319px;
  background-color: #1e2939;
  padding-top: 40px;
}
.about-photo {
  max-width: 370px;
  max-height: 354px;
  margin-bottom: 55px;
}
.about-contacts {
  padding: 0 0 50px 40px;
}
.contacts-titel {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 18px;
}
.contacts-tel-email {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.contents-link {
  color: #8e949c;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration: none;
  padding-left: 10px;
}
.zmdi-smartphone-android{
  padding: 0 1px 0 2px;

}
.zmdi-facebook{
  padding: 0 3px 0 3px;
}
.skills {
  padding: 0 0 50px 40px;
}
.skills-titel {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 20px;
}
.skills-list {
  color: #ff6b08;
  padding: 0 20px;
  display: inline-block;
  width: 100%;


}
.skills-list li{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.list-titel {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.list-titel::before{
  content: "";
  position: absolute;
  display: block;
  background-color: #ff6b08;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 9px;
  left: -14px;

}

.line {
  width: 100%;
  height: 2px;
  margin: 5px 0 20px 0;
  background-color: #ff6b08;
  position: relative;
}
.line::after {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  height: 2px;
  background-color: #fff;
}
.line-ht::after{
  width: 15%;
}
.line-css::after{
  width: 20%;
}
.line-js::after{
  width: 70%;
}
.line-jq::after{
  width: 90%;
}
.line-vsc::after{
  width: 10%;
}
.line-scss::after{
  width: 10%;
}
.experience {
  font-size: 14px;
  padding-top: calc(40px + 40 * (100vw / 1200));
  margin: 0 auto;
  color: #000000;
}
.my-info {
  max-width: 480px;
  padding-bottom: 20px;
}
.my-info-job {
  font-size: 16px;
  font-weight: 700;
}
.time-work{
  margin: 10px 0 0 20px;
  font-size: 14px;
  font-weight: 600;
} 
.time-work span{
  color: #ff6b08;
}
.salary{
  margin-left: 20px;
  font-size: 14px;
  font-weight: 600;
}
.salary span{
  color: #ff6b08;
}
.my-info-name {
  font-size: calc(14px + 24 * (80vw / 1200));
  font-weight: 700;
  line-height: 89px;
}

.my-info-stores {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.experience-titel {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 20px;
}

.project-list {
  font-weight: 700;
  line-height: 24px;
  padding-left: 15px;
  margin-bottom: 20px;
}

ol li a {
  color: #595959;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration: none;
}

ol li span {
  color: #595959;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
div b {
  color: #000000;
  padding-left: 5px;
  padding-right: 5px;
}
.experience-item {
  padding-bottom: 40px;
}
.item {
  padding-bottom: 25px;
}
.item-titel {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.orange {
  color: #ff6b08;
  font-weight: 700;
}
.item-date-place {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
.item-stores {
  color: #595959;
  font-weight: 400;
  line-height: 24px;
  padding-left: 20px;
}

.education{
  padding-bottom: 20px;
}

.education-job{
font-size: 15px;
  font-weight: 600;
  padding-left: 5px;
}

@media (max-width: 1200px) {
  .about {
    max-width: 970px;
  }
  .experience{
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
  body{
    padding: 20px;
  }
  .about {
    display: block;
    justify-content: center;
    margin: 0 auto;
    max-width: 370px;
  }
  .about-header{
    min-height: 100%;
  }
  .experience{
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 424px){
body{
  padding: 5px;
}
.about-photo{
  max-width: 100%;
  margin-bottom: 20px;
}
.about-contacts{
  padding: 0 0 30px 20px;
}
.skills{
    padding: 0 0 30px 20px;

}
}