* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  max-width: 1280px;
  max-height: 1390px;
  padding: 40px;
  margin: 0px auto;
  background-color: #f5f7fa;
}
.about {
  max-width: 1200px;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  display: flex;
  flex: auto;
  margin: 0px auto;
}

.language{
  font-weight: 600;
  padding: 0 0 10px 10px;
}
.language a{
  color: #ff6b08;
  text-decoration: none;
}
.language a:hover{
  text-shadow:  0 0 5px #fff;
}
.about-header {
  max-width: 370px;
  min-height: 1319px;
  background-color: #1e2939;
  padding-top: 10px;
}
.about-photo {
  max-width: 370px;
  max-height: 354px;
  margin-bottom: 55px;
}
.about-contacts {
  padding: 0 0 50px 40px;
}
.contacts-titel {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 18px;
}
.contacts-tel-email {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.contents-link {
  color: #8e949c;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration: none;
  padding-left: 10px;
}
.zmdi-smartphone-android{
  padding: 0 1px 0 2px;

}
.zmdi-facebook{
  padding: 0 3px 0 3px;
}
.skills {
  padding: 0 0 50px 40px;
}
.skills-titel {
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 20px;
}
.skills-list {
  display: grid;
  grid-template: auto/125px 125px;
  grid-gap: 20px;
}

.skills-list li{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.list-titel {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.list-titel::before{
  content: "";
  position: absolute;
  display: block;
  background-color: #ff6b08;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 9px;
  left: -14px;

}

.line {
  width: 100%;
  height: 2px;
  margin: 5px 0 20px 0;
  background-color: #ff6b08;
  position: relative;
}
.line::after {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  height: 2px;
  background-color: #fff;
}
.line-ht::after{
  width: 15%;
}
.line-css::after{
  width: 20%;
}
.line-js::after{
  width: 50%;
}
.line-ra::after{
  width: 40%;
}
.line-rd::after{
  width: 40%;
}
.line-vsc::after{
  width: 10%;
}
.line-scss::after{
  width: 10%;
}
.experience {
  font-size: 14px;
  padding-top: calc(40px + 40 * (100vw / 1200));
  margin: 0 auto;
  color: #000000;
}
.my-info {
  max-width: 480px;
  padding-bottom: 20px;
}
.my-info-job {
  font-size: 16px;
  font-weight: 700;
}
.time-work{
  margin: 10px 0 0 20px;
  font-size: 14px;
  font-weight: 600;
} 
.time-work span{
  color: #ff6b08;
}
.salary{
  margin-left: 20px;
  font-size: 14px;
  font-weight: 600;
}
.salary span{
  color: #ff6b08;
}
.my-info-name {
  font-size: calc(14px + 24 * (80vw / 1200));
  font-weight: 700;
  line-height: 89px;
}

.my-info-stores {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.experience-titel {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 20px;
}

.project-list {
  font-weight: 700;
  line-height: 24px;
  padding-left: 15px;
  margin-bottom: 20px;
}

ol li a {
  color: #595959;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration: none;
}

ol li span {
  color: #595959;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
div b {
  color: #000000;
  padding-left: 5px;
  padding-right: 5px;
}
.experience-item {
  padding-bottom: 40px;
}
.item {
  padding-bottom: 25px;
}
.item-titel {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.orange {
  color: #ff6b08;
  font-weight: 700;
}
.item-date-place {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
.item-stores {
  color: #595959;
  font-weight: 400;
  line-height: 24px;
  padding-left: 20px;
}

.education{
  padding-bottom: 20px;
}

.education-job{
font-size: 15px;
  font-weight: 600;
  padding-left: 5px;
}

.card {
  position: relative;
  width: 125px;
  background: #1b1b1b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  border-radius: 4px;
  text-align: center;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
  pointer-events: none;
  z-index: 1;
}

.percent {
  position: relative;
  width: 75px;
  height: 75px;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 50px #000;
          box-shadow: inset 0 0 50px #000;
  background: #222;
  z-index: 1000;
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.percent .number h2 {
  color: #777777;
  font-weight: 700;
  font-size: 24px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.percent .number h6 {
  color: #777777;
  font-weight: 700;
  font-size: 9px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card:hover .percent .number h2 {
  color: #fff;
  font-size: 36px;
}
.card:hover .percent .number h6 {
  color: #fff;
  font-size: 16px;
  z-index: 2000;
}

.percent .number h2 span {
  font-size: 14px;
  color: #777777;
}

.card:hover .percent .number h2 span {
  color: #ffffff;
}

.text {
  position: relative;
  color: #777777;
  margin-top: 20px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card:hover .text {
  color: #ffffff;
}

svg {
  position: relative;
  width: 100px;
  height: 100px;
  z-index: 1000;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 5;
  stroke-linecap: round;
  -webkit-transform: translate(2.5px, 2.5px);
          transform: translate(2.5px, 2.5px);
}

svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset:calc(440 - (220 * 85) / 100);
  stroke: #00ff43;
}

.card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (220 * 80) / 100);
  stroke: #00a1ff;
}

.card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (220 * 60) / 100);
  stroke: #ff043a;
}
.card:nth-child(4) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (220 * 90) / 100);
  stroke: #ff04f7;
}
.card:nth-child(5) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (220 * 60) / 100);
  stroke: #1d04ff;
}
.card:nth-child(6) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (220 * 60) / 100);
  stroke: #04ffde;
}
.card:nth-child(7) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (220 * 90) / 100);
  stroke: #fff704;
}
.card:nth-child(8) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (220 * 50) / 100);
  stroke: #04ff60;
}

@media (max-width: 1200px) {
  .about {
    max-width: 970px;
  }
  .experience{
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
  body{
    padding: 20px;
  }
  .about {
    display: block;
    justify-content: center;
    margin: 0 auto;
    max-width: 370px;
  }
  .about-header{
    min-height: 100%;
  }
  .experience{
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 424px){
body{
  padding: 5px;
}
.about-photo{
  max-width: 100%;
  margin-bottom: 20px;
}
.about-contacts{
  padding: 0 0 30px 20px;
}
.skills{
    padding: 0 0 30px 20px;

}
}